@charset "UTF-8";

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor: default;
    list-style-type: none;
    -webkit-appearance: none;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.body {
    font-family: "Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self; margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

a {
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a, img, button, input, textarea {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.tour {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
    position: relative;
    color: #ee5729;
}

.tour1 {
    position: absolute;
    top: 1rem;
    left: 2%;
}

.tour p {
    text-align: center;
    line-height: 5rem;
    font-size: 1.8rem;
}

.tour2 {
    position: absolute;
    top: 1rem;
    right: 2%;
}

figure {
    margin: 0 auto;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}

    figure img {
        border-radius: 0.1rem;
    }

    figure p {
        padding-top: 1rem;
        font-size: 1.3rem;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding-left: 2%;
    }

    figure div em {
        font-style: normal;
        font-size: 1.6rem;
        line-height: 3rem;
        color: red;
        padding-left: 2%;
    }

        figure div em small {
            text-decoration: line-through;
            font-size: 1rem;
            color: darkgray;
        }

    figure div a {
        float: right;
    }


.sjxx {
    max-width: 640px;
    margin: 0 auto;
    height: 70px;
}

    .sjxx .pclass1 {
        line-height: 70px;
        font-size: 1.3rem;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 2%;
    }

    .sjxx .pclass2 {
        line-height: 35px;
        font-size: 1.3rem;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 2%;
    }

.zshlogo {
    width: 100%;
    height: 13rem;
}

    .zshlogo a img {
        padding: 0.5rem;
        margin: 0 auto;
    }

    .zshlogo p {
        font-size: 1.2rem;
        text-align: center;
    }

.theme-popover-mask {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}

.bottom-shop {
    background-color: white;
    overflow: hidden;
    height: 73px;
    border-top: 1px solid #ddd;
    position: fixed;
    z-index: 900;
    width: 100%;
    bottom: 0;
    left: 0;
}

.spxz{
	
	border:1px solid #dcdcdc;
}
.spxz ul{
    width: 100%;
    height: 70px;
}
.spxz ul li {
    display: block;
    float: left;
}
.li2{
    margin-top: 0.5rem;
    width: 10%;
    text-align: center;
}
.li2 img{
    border: 1px solid #dcdcdc;
    padding: 0.1rem;
}
.li3{
    width: 40%;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
}
.one{
    color: red;
    border: none;
    outline: none;
    text-align: center;
    width: 4rem;
    background-color: white;
}
.li4{
    width: 20%;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: left;
}
    .li4 strong {
    color:#ee5729;
    }
.reduce,.plus{
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid gainsboro;
}
.num{
    text-align: center;
    width: 2rem;
    border: none;
    outline: none;
}

.li5{
    width: 30%;
    font-size: 1.5rem;
    line-height: 70px;
    text-align: center;
}

.li5 button{
    color: #ee5729;
    outline: none;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: white;
    padding: 0.5rem 1rem;
}