@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure
,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong
,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%}
html
{font-family:"Helvetica Neue",Arial,"Microsoft Yahei",Helvetica,sans-serif,Lato;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1;font-size:62.5%;
 -webkit-tap-highlight-color:transparent}
dl,li,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
sub,sup{font-size:75%;line-height:0;position:relative}
img{border:0}
a{background-color:transparent}
a img{border:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;outline:0;box-sizing:content-box}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
input[type=password]::-ms-reveal{display:none}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=text]{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
body,html{color:#10181f;-webkit-font-smoothing:antialiased}
a{color:#10181f;text-decoration:none}
a:active,a:focus,a:hover{text-decoration:none;color:#eb0028;outline:0}
@media screen and (max-width:1024px){
    a:active,a:focus,a:hover{color:#10181f}

}
em,i{font-style:normal}
.left{float:left}
.right{float:right}
.clearfix{zoom:1}
.clearfix:after{content:'\200B';display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.cn{clear:none}
.cf:after{content:'\200B';display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
.cf{zoom:1}
body.bodyOverflowHide{
    overflow:hidden}

.ff-lato{font-family:lato,"Microsoft Yahei"}
.cart-goods .total-info p,.op-footer-kf,.open-validate-code .vmc-panel,.open-validate-code .vmc-panel .is-error{*zoom:1}
.cart-goods .total-info p:after,.cart-goods .total-info p:before,.op-footer-kf:after,.op-footer-kf:before,.open-validate-code 
.vmc-panel .is-error:after,.open-validate-code .vmc-panel .is-error:before,.open-validate-code .vmc-panel:after,
.open-validate-code .vmc-panel:before{content:"";display:table;font:0/0 a;height:0;overflow:hidden}
.cart-goods .total-info p:after,.op-footer-kf:after,.open-validate-code .vmc-panel .is-error:after,.open-validate-code .vmc-panel:after{clear:both}
.cart-goods .total-info p .all-price, .main-goods .price,.main-goods .sale-price{font-family:lato,"Microsoft Yahei"}
.op-btn{
    display:inline-block;height:38px;line-height:38px;width:118px;border:1px solid #eb0028;text-align:center;cursor:pointer;font-size:14px;
    -moz-transition:color .15s ease 0s;-o-transition:color .15s ease 0s;-webkit-transition:color .15s ease;-webkit-transition-delay:0s;
    transition:color .15s ease 0s;position:relative;z-index:1}
.op-btn:before{position:absolute;top:-1px;left:-1px;width:0;height:40px;content:"";-moz-transition:width .15s ease 0s;
               -o-transition:width .15s ease 0s;-webkit-transition:width .15s ease;-webkit-transition-delay:0s;transition:width .15s ease 0s;z-index:-1}
.op-btn:hover:before{width:118px}
.red-btn{background:#eb0028;color:#fff;border:1px solid #eb0028}
.red-btn:before{background:#d70226}
.red-border-btn{color:#eb0028;border:1px solid #eb0028}
.red-border-btn:before{background:#eb0028}
.red-border-btn:hover{color:#fff}
.bigger-btn{height:50px;line-height:50px;width:196px}
.bigger-btn:before{height:52px}
.bigger-btn:hover:before{width:200px}
.biggest-btn{height:60px;line-height:60px;width:296px;font-size:16px}
.biggest-btn:before{height:62px}
.biggest-btn:hover:before{width:300px}


.op-login .err_message{padding-bottom:15px;color:#e54040;display:none}
body,html{width:100%}
.ie8 body,.ie8 html{min-width:1130px}
 #op-wrap{width:100%;overflow:hidden;position:relative}
 #op-wrap-mask{
     width:100%;height:100%;top:0;right:0;position:fixed;z-index:-1;background:rgba(0,0,0,.5);opacity:0;-moz-transition:all .3s ease;-o-transition:all .3s ease;
     -webkit-transition:all .3s ease;transition:all .3s ease}

.op-top-header.disappear{top:-500px}
.op-top-box{height:80px;margin:0 auto;background:rgba(255,255,255,.95);text-align:center;position:relative}
.op-top-box.shadow{-moz-box-shadow:0 0 10px #aaa;-webkit-box-shadow:0 0 10px #aaa;box-shadow:0 0 10px #aaa}

 #op-logo{width:44px;height:44px;display:block;float:left;margin:17px 0 0 23px}
 #op-logo a{width:100%;height:100%;display:block}
 #op-logo img{width:100%}
 .op-r-btns{height:100%;float:right;display:inline-block;margin-right:10px;white-space:nowrap;position:relative;z-index:20}
 .op-r-btns .icon{width:24px;height:24px;display:inline-block;margin:30px 15px 0 41px;position:relative;cursor:pointer}
 .op-r-btns i{
     position:absolute;width:20px;height:20px;right:-10px;top:-10px;line-height:20px;text-align:center;background:red;color:#fff;font-size:12px;-moz-border-radius:10px;
     -webkit-border-radius:10px;border-radius:10px;display:none}
 
@media screen and (max-height:800px),screen and (max-width:1000px){
    #op-logo{margin-top:7px;margin-left:13px}
    .op-r-btns .icon{margin-top:18px!important;margin-bottom:0!important;margin-left:30px;margin-right:10px}
    .op-top-box{height:60px}#op-nav-box{top:60px}.op-top-nav{top:-60px}
    .op-top-search{height:60px}.op-search-input{padding:20px 8% 20px 0;text-indent:13px}
    .op-search-submit{height:62px;right:7px}}
@media screen and (max-height:800px) and (min-width:1001px){.op-top-menu{height:60px}.op-top-menu li{width:60px;height:60px}.op-top-menu .op-top-menu-lia{line-height:60px}}
@media screen and (min-width:1001px) and (max-width:1200px) and (min-height:801px){.op-top-nav{left:43%}.op-r-btns .icon{margin-left:15px;margin-right:15px}}
@media screen and (max-width:1000px){
    .op-top-nav{display:none}
    .op-r-btns .icon{margin-left:26px;margin-right:15px}
    .op-r-btns .i-menu{display:inline-block}
    .mobile .op-r-btns .i-user{display:none}}
@media screen and (max-width:500px)
{#op-logo{width:100px; line-height:32px;height:32px;margin:13px 0 0 15px}
 .op-r-btns .icon{margin-left:8px;margin-right:8px}
 #op-wrap.aside-active #op-content{left:-80%}
 #op-wrap.aside-active #op-wrap-mask{right:80%}
 #op-wrap.aside-active .op-top-header.fixed{left:-80%}}

button{padding:0;border:0 none}

.user-hd{margin:30px auto;text-align:center;max-width:1200px}
@media screen and (max-width:500px){.user-hd{margin:20px auto}}
.user-hd .my-avatar{width:110px;height:110px;margin:auto;position:relative}
@media screen and (max-width:786px){.user-hd .my-avatar{width:60px;height:60px}}
.user-hd .my-avatar img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;width:100%}
.user-hd .my-avatar .update-tip
{display:block;width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;
 position:absolute;left:0;top:0;background:#000;background:rgba(0,0,0,.5);opacity:0;filter:alpha(opacity=0);-moz-transition:all .2s;-o-transition:all .2s;
 -webkit-transition:all .2s;transition:all .2s}

.user-hd .my-avatar:hover .update-tip{
    opacity:1;filter:alpha(opacity=100);filter:alpha(opacity=80);
    -moz-transition:all .2s;-o-transition:all .2s;-webkit-transition:all .2s;transition:all .2s}
.user-hd .my-nickname{padding:20px 0;font-size:16px}
.user-hd .my-nickname em{display:inline-block;padding-right:10px}
@media screen and (max-width:768px){.user-hd .my-nickname em{font-size:14px}}
.user-hd .my-nickname em::after{content:'';display:block;width:20px;height:14px;border-bottom:1px solid #333;margin:auto}
.user-hd .my-nickname span{position:relative}
.user-hd .my-nickname span:hover .i-edit-profiles{opacity:1;filter:alpha(opacity=100);-moz-transition:all .2s;-o-transition:all .2s;-webkit-transition:all .2s;transition:all .2s}


.user-hd .my-stuffs li{display:inline-block;width:128px;}
.user-hd .my-stuffs li:last-child{background:0 0}
@media screen and (max-width:590px){.user-hd .my-stuffs li{width:21.69492%}}
.user-hd .my-stuffs span{font-size:26px;font-family:lato;color:#333}
.user-hd .my-stuffs span i{display:inline-block}
.user-hd .my-stuffs em{font-size:12px;color:#666;display:block;padding-top:10px}
@media screen and (max-width:500px){.user-hd .my-stuffs em{padding-top:5px}}
