@charset "UTF-8";

.page-nav, .page-nav ul, .user-bd, .user-content .user-back {
    *zoom: 1;
}

    .page-nav ul:after, .page-nav ul:before, .page-nav:after, .page-nav:before, .user-bd:after, .user-bd:before, .user-content .user-back:after, .user-content .user-back:before {
        content: "";
        display: table;
        font: 0/0 a;
        height: 0;
        overflow: hidden;
    }

    .page-nav ul:after, .page-nav:after, .user-bd:after, .user-content .user-back:after {
        clear: both;
    }

.op-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    width: 118px;
    border: 1px solid #eb0028;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    -moz-transition: color .15s ease 0s;
    -o-transition: color .15s ease 0s;
    -webkit-transition: color .15s ease;
    -webkit-transition-delay: 0s;
    transition: color .15s ease 0s;
    position: relative;
    z-index: 1;
}

    .op-btn:before {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 0;
        height: 40px;
        content: "";
        -moz-transition: width .15s ease 0s;
        -o-transition: width .15s ease 0s;
        -webkit-transition: width .15s ease;
        -webkit-transition-delay: 0s;
        transition: width .15s ease 0s;
        z-index: -1;
    }

    .op-btn:hover:before {
        width: 118px;
    }

.red-btn {
    background: #eb0028;
    color: #fff;
    border: 1px solid #eb0028;
}

    .red-btn:before {
        background: #d70226;
    }

.red-border-btn {
    color: #eb0028;
    border: 1px solid #eb0028;
}

    .red-border-btn:before {
        background: #eb0028;
    }

    .red-border-btn:hover {
        color: #fff;
    }

.bigger-btn {
    height: 50px;
    line-height: 50px;
    width: 196px;
}

    .bigger-btn:before {
        height: 52px;
    }

    .bigger-btn:hover:before {
        width: 200px;
    }

.biggest-btn {
    height: 60px;
    line-height: 60px;
    width: 296px;
    font-size: 16px;
}

    .biggest-btn:before {
        height: 62px;
    }

    .biggest-btn:hover:before {
        width: 300px;
    }

body {
    background: #efefef;
}

.user-bd {
    margin: auto;
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .user-bd {
        width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    .user-bd {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .user-bd {
        margin-bottom: 10px;
    }
}

.user-bd .user-aside {
    -moz-transition: width .2s;
    -o-transition: width .2s;
    -webkit-transition: width .2s;
    transition: width .2s;
}

@media screen and (max-width:1024px) {
    .user-bd .user-aside {
        width: 23.4375%;
    }
}

@media screen and (max-width:767px) {
    .user-bd .user-aside {
        display: none;
    }
}

.user-bd .user-content {
    overflow: hidden;
}

.user-aside {
    padding-bottom: 30px;
}

    .user-aside .user-menu dt {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding-left: 0px;
        color: #666;
    }

    .user-aside .user-menu dd {
        margin-bottom: 1px;
    }

    .user-aside .user-menu a {
        color: #666;
        font-size: 14px;
        display: block;
        padding: 8px 0;
        position: relative;
    }

        .user-aside .user-menu a:hover {
            background: #eaeaea;
        }

    .user-aside .user-menu .active {
        border-left: 4px solid #eb0028;
        background: #eaeaea;
        color: #333;
    }

        .user-aside .user-menu .active i {
            margin-left: 40px;
            opacity: 1;
            filter: alpha(opacity=100);
        }

@media screen and (max-width:1024px) {
    .user-aside .user-menu .active i {
        margin-left: 30px;
    }
}

.user-aside .user-menu i {
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
    opacity: .3;
    filter: alpha(opacity=30);
}

@media screen and (max-width:1024px) {
    .user-aside .user-menu i {
        margin-left: 20px;
    }
}

.user-aside .user-menu .i-msg {
    display: block;
    position: absolute;
    background: #eb0028;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    right: 20px;
    top: 10px;
}

.user-aside .user-menu .i-my-order {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -229px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-cunpon {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -157px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-address {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -109px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-prize {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -253px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-account {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -85px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-imei {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -181px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-insure {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -205px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-return {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -301px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-change {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -133px;
    width: 24px;
    height: 24px;
}

.user-aside .user-menu .i-my-repair {
    background-image: url(img/icons-userinfo.png);
    background-repeat: no-repeat;
    background-position: 0 -277px;
    width: 24px;
    height: 24px;
}

.user-content .user-back {
    background: #fff;
    font-size: 14px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    display: none;
    -moz-box-shadow: 0 2px 2px 0 #e3e3e3;
    -webkit-box-shadow: 0 2px 2px 0 #e3e3e3;
    box-shadow: 0 2px 2px 0 #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

    .user-content .user-back a {
        float: left;
        font-size: 12px;
        text-indent: -99em;
        overflow: hidden;
        width: 40px;
        height: 40px;
        background: url(../../img/user/icons/i-top-back.png) center no-repeat;
        margin-top: 5px;
    }

    .user-content .user-back em {
        margin-left: -45px;
    }

@media screen and (max-width:767px) {
    .user-content .user-back {
        display: block;
    }
}

@media screen and (max-width:500px) {
    .user-content .user-back {
        height: 50px;
        line-height: 50px;
    }
}

figure{position:absolute;left:0;right:0;top:0;bottom:0;border-radius:50%;border:4px solid #fff;overflow:hidden;}
.page-nav {
    font-family: lato;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

@media screen and (max-width:767px) {
    .page-nav {
        margin-bottom: 10px;
    }
}

.page-nav ul {
    float: right;
}

.page-nav li {
    float: left;
    width: 52px;
    line-height: 52px;
    margin-left: 1px;
    font-size: 18px;
}

    .page-nav li.next {
        margin-left: 20px;
    }

    .page-nav li.prev {
        margin-right: 20px;
        margin-left: 0;
    }

@media screen and (max-width:600px) {
    .page-nav li {
        width: 40px;
        line-height: 40px;
        font-size: 14px;
    }
}

@media screen and (max-width:414px) {
    .page-nav li {
        width: 30px;
        line-height: 30px;
    }
}

.page-nav .disabled {
    display: none;
}

.page-nav i {
    display: inline-block;
}

    .page-nav i.i-page-prev {
        background-image: url(img/icons-userinfo.png);
        background-repeat: no-repeat;
        background-position: 0 -437px;
        width: 7px;
        height: 12px;
    }

    .page-nav i.i-page-next {
        background-image: url(img/icons-userinfo.png);
        background-repeat: no-repeat;
        background-position: 0 -425px;
        width: 7px;
        height: 12px;
    }

.page-nav a, .page-nav span {
    display: block;
}

.page-nav a {
    background: #e5e5e5;
}

    .page-nav .active a, .page-nav a:hover {
        background: #ccc;
        color: #333;
    }

@media screen and (max-width:767px) {
    .op-top-header.header, .user-hd {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .op-top-header.header, .user-hd {
        display: block;
    }
}

.user-bd {
    width: 100%;
    margin-bottom: 0;
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .user-bd {
        width: 100%;
    }
}

.user-bd .user-aside {
    background: 0 0;
    float: none;
    width: 100%;
    max-width: none;
    padding-bottom: 0;
}

@media screen and (max-width:1023px) {
    .user-bd .user-aside {
        display: block;
    }
}




.signBtn{ background:#fff; padding:20px 0; text-align:center; border-bottom:1px solid #ccc;}
.signBtn a{ display:inline-block; background:#ee5729; border-bottom:3px solid #B43F1B; color:#fff; font-size:17px; line-height:2.5em; border-radius:2.3em; width:50%; max-width:200px;}
.signBtn a.off{ background:#B43F1B; color:#999;}

.sign-date-list{ padding-left:30px; background-color:#fbfafa}
.sign-date-list ul{ border-left:1px solid #ccc;}
.sign-date-list li{ padding-left:30px; padding-top:10px; position:relative;}
.sign-date-list li:after{ content:""; display:block; position:absolute; width:11px; height:11px; border-radius:50%; background:#f0f0f0; border:2px solid #ccc; left:-8px; top:13px;}
.sign-date-list li div{ border-bottom:1px solid #ccc; color:#999; font-size:13px;}
.sign-date-list li div .time{ display:block; font-size:15px;}
.sign-date-list li div .span{ display:block; padding:10px 0; color:#c5c5c5;}
.sign-date-list li.active .time{ color:#ee5729;}
.sign-date-list li.active:after{ border-color:#ee5729; background:#fff;}


.dialog-alert-layer{ position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.6); z-index:99; display:none;}
.dialog-alert-layer > table,
.dialog-alert-layer > table > tr > td{ width:100%; height:100%; border-collapse:collapse;}
.dialog-alert-layer .alert-main{ width:70%; max-width:300px; margin:0 auto; min-height:50px; background:#fff; position:relative; padding:0 3%;}
.dialog-alert-layer .alert-main .close{ position:absolute; display:block; width:25px; height:25px; border-radius:50%; background:#ee5729; color:#fff; font-size:20px; text-align:center; line-height:25px; right:-13px; top:-13px;}
.dialog-alert-layer .alert-main > .title{ font-size:16px; color:#ee5729; line-height:3em; border-bottom:1px solid #ccc;}
.dialog-alert-layer .alert-main > .content{ font-size:14px; color:#333; line-height:1.6em; padding:18px 0;}


.sign-button {height:60px;background:#fff;border:1px solid #ccc;}
#op-logo span {
    font-size:16px;
}