@using Domain.User
@model UserCenterModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>

    <meta charset="gbk">

    <title>签到中心</title>
    <meta name="keyword" content="个人中心" />
    <meta name="description" content="个人中心" />

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="no">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="shortcut icon" href="http://statics.oneplus.cn/img/oneplus.ico" type="image/x-icon">
    <link href="~/Styles/sign/common_pc.css" rel="stylesheet" />
    <link href="~/Styles/sign/m-index.css" rel="stylesheet" />
</head>
<body>
    <div id="op-wrap">
        <div id="op-content">
            <header class="op-top-header header">
                <div class="op-top-box">
                    <h1 id="op-logo">
                        我前积分：100
                    </h1>

                    <div class="op-r-btns">
                        <div class="icon i-user" onclick="_opq.push(['trackEvent','onepluscn_A004','个人头相'])">
                            <span><a>签到规则</a>    </span>
</div>
                        <div class="icon i-menu" id="op-btn-menu"></div>
                    </div>                 
                </div>
            </header>
        </div>
        <div class="user-hd">
            <div class="my-avatar">
                <a href="#填写个人修改头像地址">
                    <img src="@(Model.User?.HeadImgUrl)" alt="">
                    <span class="update-tip"><i class="i-update-avatar"></i></span>
                </a>
            </div>
            <div class="my-nickname">
                <span>
                    <a href="#">@(Model.User?.NickName)</a>
                </span>
            </div>          
        </div>

 

        <div class="user-bd">

            <div class="sign-date-list">
                <ul id="uls">
                    @foreach (var item in Model.SignDic.OrderByDescending(x=>x.Key))
                    {
                        if (item.Value)
                        {
                            <li class="active"> <div> <span class="time">@item.Key</span> <span class="span">已签到</span> </div> </li>
                        }
                        else
                        {
                            <li> <div> <span class="time">@item.Key</span> <span class="span">未签到</span> </div> </li>
                        }
                    } 
                </ul>
            </div>
 
                                   

        </div>
    </div>
</body>
</html>
