@model   List<Tuple<Repository.Category,string>>
@{

}


<div class="SeckillOne" style="height:@(Model.Count/2*120)px">
    @foreach (var item in Model)
    {
        <div class="category">
            <a href="/mall/goods/AllGoods?categoryId=@item.Item1.UNID">
                <img src="@item.Item1.Image" alt="">
                <div id="CountMsg" class="HotDate">
                    <p>@item.Item2</p>
                </div>
            </a>
        </div>
    }
</div>