

@{
    ViewBag.Title = "商品管理";
    Layout = "~/Areas/Mall/Views/Shared/_Layout.cshtml";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>商品管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">名称</span>
                <input type="text" class="am-form-field " placeholder="按商品名称搜索" name="name" ;>
                <span class="am-input-group-label am-margin-left-sm">商品分类</span>
                <select name="CategoryId" data-am-selected="{btnSize: 'sm'}"></select>
                <span class="am-input-group-label  am-margin-left-sm">创建日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeStart" readonly style="width:auto;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeEnd" readonly style="width:auto;">
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-4">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-sm">
                    <button onclick="add()" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-striped am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="UNID" type="checkbox"></th>
                <th dataname="CategoryName">分类</th>
                <th dataname="Name">商品名称</th>
                <th dataname="SellingPrice">销售价</th>
                <th dataname="StockNum">库存数量</th>
                <th dataname="OngoingTime" datatype="jsondate">开始时间</th>
                <th dataname="OverTime" datatype="jsondate">结束时间</th>
                <th dataname="CreatedTime" datatype="jsondate">创建日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        $('[name=createdTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=createdTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });


        function ClearFilter() {
            $("#searchDomain input").val("");
            $('#searchDomain select').find('option').eq(0).attr('selected', true);
        }

        //批量删除
        function batchDelete() {
            grid.del({
                ajaxUrl: "/Mall/Goods/Delete",
                callback: function (json) {
                    grid.reload();
                }
            });
        }
        $(function () {
            $("select[name='CategoryId']").append("<option value='0'>不限</option>");
            $.Nuoya.action("/Mall/Category/GetSelectItem", {}, function (json) {
                $(json).each(function () {
                    $("select[name='CategoryId']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                });
            });
        });

        function formInit(dataitem) {
            if (dataitem != null) {
                if (dataitem.Goods != null) {
                    if (dataitem.Goods.Image != null) {
                        $("#imageDiv").show().find("img").attr("src", dataitem.Goods.Image);
                    }
                    if (dataitem.Goods.State == 1) {
                        $("input[name='State']").attr("checked", "checked");
                    }
                }

                if (dataitem.GoodsDetails != null) {
                    $(dataitem.GoodsDetails).each(function (index, item) {
                        AddDesImage(item.Image, item.Sort);
                    })
                }
            }
            $.Nuoya.action("/Mall/Category/GetSelectItem", { cid: dataitem ? dataitem.Goods.CategoryId : "" }, function (json) {
                $(json).each(function () {
                    $("select[name='CategoryId']").append("<option " + (this.Selected == true ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
                });
            });


            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 50
                    },
                    OriginalPrice: {
                        required: true,
                        min: 0,
                        max: 99999999
                    },
                    SellingPrice: {
                        required: true,
                        min: 0,
                        max: 99999999
                    }
                },
                messages: {
                    Name: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    OriginalPrice: {
                        required: "不允许为空",
                        min: "最小金额{0}元",
                        max: "最大金额{0}元"
                    },
                    SellingPrice: {
                        required: "不允许为空",
                        min: "最小金额{0}元",
                        max: "最大金额{0}元"
                    }
                }
            });

            UploadImg();
        }


        function UploadImg() {
            var headimgbtn = $("#imageFile").uploadFile({
                url: '/upload/uploadimage?mark=MallGoods',
                fileSuffixs: ["jpg", "png", "gif"],
                maximumFilesUpload: 1,//最大文件上传数
                onComplete: function (data) {
                    if (data) {
                        $("[name='Image']").val(data);
                        $("#imageDiv").show().find("img").attr("src", data);
                    }
                    else {
                        $.Nuoya.alert( "上传错误");
                    }

                },
                onChosen: function (file, obj, fileSize, errorText) {
                    if (errorText) {
                        $.Nuoya.alert(errorText);
                        return false;
                    }
                    //Loading("图片正在上传中...", "请稍等");
                    uploadheadimg.submitUpload();
                    return true;//返回false将取消当前选择的文件
                },
            });
            var uploadheadimg = headimgbtn.data("uploadFileData");


            var desImgBtn = $("#desImageFile").uploadFile({
                url: '/upload/uploadimage?mark=MallGoods',
                fileSuffixs: ["jpg", "png", "gif"],
                maximumFilesUpload: 1,//最大文件上传数
                onComplete: function (data) {
                    if (data) {
                        AddDesImage(data,0);
                        //$("[name='Image']").val(data);
                        //$("#imageDiv").show().find("img").attr("src", data);
                    }
                    else {
                        $.Nuoya.alert("上传错误");
                    }

                },
                onChosen: function (file, obj, fileSize, errorText) {
                    if (errorText) {
                        $.Nuoya.alert(errorText);
                        return false;
                    }
                    //Loading("图片正在上传中...", "请稍等");
                    desImgBtnimg.submitUpload();
                    return true;//返回false将取消当前选择的文件
                },
            });
            var desImgBtnimg = desImgBtn.data("uploadFileData");
        }

        function AddDesImage(src,sort)
        {
            var html = '<hr data-am-widget="divider" style="" class="am-divider am-divider-default">';
            html += '<div class="am-g am-margin-top">';
            html += '    <div class="am-u-md-2 am-text-right">';
            html += '       <strong class="am-text-danger am-text-sm">*</strong>';
            html += '    </div>';
            html += '    <div class="am-u-md-3 am-text-left">';
            html += '          <input type="hidden" name="GoodsDetialsImage" value="' + src + '"/>';
            html += '          <img style="width:260px;"  src="' + src + '"/>';
            html += '    </div>';
            html += '    <div class="am-u-md-1 am-text-left">';
            html += '          排序';
            html += '    </div>';
            html += '    <div class="am-u-md-2 am-text-left">';
            html += '          <input type="number" name="GoodsDetialsSort" class="am-input-sm" value="' + sort + '">';
            html += '    </div>';
            html += '    <div class="am-hide-sm-only am-u-md-4 am-text-left"><a onclick="DeleteDetialsImage($(this))">删除</a></div>';
            html += '</div> <hr />';

            $("#tab2").append(html);
        }

        function DeleteDetialsImage(obj)
        {
            obj.parent().parent().remove();
        }


        //新增
        function add() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                width: ($(window).width() - 200) + "px",
                height: ($(window).height() - 100) + "px", 
                ajaxUrl: "/HtmlTemplates/MallGoods/Update.html",
                title: "添加商品",
                callback: function (e) {
                    formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {
                        if (!document.forms[0].OngoingTime.value) {
                            $.Nuoya.alert("活动开始时间不能为空");
                            return false;
                        }
                        if (!document.forms[0].OverTime.value) {
                            $.Nuoya.alert("活动结束时间不能为空");
                            return false;
                        }
                        var ongoingTime = document.forms[0].OngoingTime.value;
                        var overTime = document.forms[0].OverTime.value;
                        if (ongoingTime > overTime) {
                            $.Nuoya.alert("活动开始时间必须小于结束时间");
                            return false;
                        }
                        if (!document.forms[0].Image.value) {
                            $.Nuoya.alert("请上传商品图片");
                            return false;
                        }

                        if (document.getElementById('chk_state').checked) {
                            document.forms[0].State.value = "1";
                        }
                        else {
                            document.forms[0].State.value = "0";
                        }

                        var detailsImageAry = [];
                        $("[name='GoodsDetialsImage']").each(function (index, item) {
                            detailsImageAry.push($(item).val());
                        });

                        var detailsSortAry = [];
                        $("[name='GoodsDetialsSort']").each(function (index, item) {
                            detailsSortAry.push($(item).val());
                        });

                        document.forms[0].DetailsImage.value = detailsImageAry.join(',');
                        document.forms[0].DetailsSort.value = detailsSortAry.join(',');

                        $.Nuoya.form("form").ajaxSubmit({
                            ajaxUrl: "/Mall/Goods/Add",
                            callback: function (data) {
                                if (data.Result == "") {
                                    e.hide();
                                    $('#searchDomain select').find('option').eq(0).attr('selected', true);
                                    grid.reload();
                                }
                                else
                                    $.Nuoya.alert(data.Result);
                            }
                        });
                    }
                }]
            })
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Mall/Goods/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [
                {
                    className: "am-text-secondary",
                    icon: "icon-pencil-square-o",
                    name: "编辑",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            width: ($(window).width() - 200) + "px",
                            height: ($(window).height() - 100) + "px",
                            ajaxUrl: "/HtmlTemplates/MallGoods/Update.html",
                            title: "编辑商品",
                            callback: function (e) {
                                $.Nuoya.action("/Mall/Goods/Find", { unid: item.UNID }, function (model) {
                                    //载入数据
                                    $.Nuoya.form("form").dataLoad({
                                        data: model.Goods
                                    });
                                    formInit(model);//表单初始化
                                    document.forms[0].UNID.value = item.UNID;
                                });
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {



                                    if (!document.forms[0].OngoingTime.value) {
                                        $.Nuoya.alert("活动开始时间不能为空");
                                        return false;
                                    }
                                    if (!document.forms[0].OverTime.value) {
                                        $.Nuoya.alert("活动结束时间不能为空");
                                        return false;
                                    }
                                    var ongoingTime = document.forms[0].OngoingTime.value;
                                    var overTime = document.forms[0].OverTime.value;
                                    if (ongoingTime > overTime) {
                                        $.Nuoya.alert("活动开始时间必须小于结束时间");
                                        return false;
                                    }
                                    if (!document.forms[0].Image.value) {
                                        $.Nuoya.alert("请上传商品图片");
                                        return false;
                                    }

                                    if (document.getElementById('chk_state').checked) {
                                        document.forms[0].State.value = "1";
                                    }
                                    else {
                                        document.forms[0].State.value = "0";
                                    }

                                    var detailsImageAry = [];
                                    $("[name='GoodsDetialsImage']").each(function (index, item) {
                                        detailsImageAry.push($(item).val());
                                    });

                                    var detailsSortAry = [];
                                    $("[name='GoodsDetialsSort']").each(function (index, item) {
                                        detailsSortAry.push($(item).val());
                                    });

                                    document.forms[0].DetailsImage.value = detailsImageAry.join(',');
                                    document.forms[0].DetailsSort.value = detailsSortAry.join(',');

                                    $.Nuoya.form("form").ajaxSubmit({
                                        ajaxUrl: "/Mall/Goods/Update",
                                        params: {
                                            UNID: item.UNID
                                        },
                                        callback: function (data) {
                                            if (data.Result == "") {
                                                e.hide();
                                                $('#searchDomain select').find('option').eq(0).attr('selected', true);
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.Result);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "删除",
                    click: function (item) {
                        $.Nuoya.deleteAction("/Mall/Goods/Delete", {
                            unids: item.UNID
                        },
                        function () {
                            grid.reload();
                        });
                    }
                }
            ]
        });
    </script>
}
