
@{
    ViewBag.Title = "角色管理";
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">角色管理</strong></div>
</div>
<div class="am-g" id="searchDomain">
    <div class="am-u-lg-2">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-sm">
                <button onclick="add()" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-end">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="name" placeholder="按名称搜索" style="width:auto;" />
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button" id="btnSearch">搜索</button>
            </span>
        </div>
    </div>
</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-striped am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="UNID" type="checkbox"></th>
                <th dataname="Name">名称</th>
                <th dataname="Remark">备注</th>
                <th dataname="FlagState">状态</th>
                <th dataname="CreatedTime" datatype="jsondate">创建日期</th>
                <th dataname="UpdatedTime" datatype="jsondate">编辑日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function formInit(dataitem) {
            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 50
                    },
                    Remark: {
                        maxlength: 256
                    }
                },
                messages: {
                    Name: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Remark: {
                        maxlength: "最多{0}个字符"
                    }
                }
            });
            $("[name=LimitFlagSelect]").ztreeSelect($("[name=LimitFlag]"), "/Menu/GetFlagZTreeNodes", null, true, true);
            $("select[name='Flag']").selected();
        }

        //批量删除
        function batchDelete() {
            grid.del({
                ajaxUrl: "/Role/Delete",
                callback: function (json) {
                    grid.reload();
                }
            });
        }
        //新增
        function add() {
            $.Nuoya.ajaxDialog({
                ajaxUrl: "/HtmlTemplates/Role/Update.html",
                title: "添加角色",
                callback: function (e) {
                    formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {
                        $.Nuoya.form("form").submit({
                            ajaxUrl: "/Role/Add",
                            callback: function () {
                                e.hide();
                                grid.reload();
                            }
                        });
                    }
                }]
            })
        }
        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Role/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [{
                className: "am-text-secondary",
                icon: "icon-pencil-square-o",
                name: "编辑",
                click: function (item) {
                    $.Nuoya.ajaxDialog({
                        ajaxUrl: "/HtmlTemplates/Role/Update.html",
                        title: "修改角色",
                        callback: function (e) {
                            //载入数据
                            $.Nuoya.form("form").dataLoad({
                                data: item
                            });
                            formInit(item);//表单初始化
                        },
                        buttons: [{
                            label: "保存",
                            callback: function (e) {
                                $.Nuoya.form("form").submit({
                                    ajaxUrl: "/Role/Update",
                                    params: {
                                        UNID: item.UNID
                                    },
                                    callback: function () {
                                        e.hide();
                                        grid.reload();
                                    }
                                });
                            }
                        }]
                    })
                }
            },
            {
                className: "am-text-danger",
                icon: "icon-trash-o",
                name: "删除",
                click: function (item) {
                    $.Nuoya.deleteAction("/Role/Delete", {
                        unids: item.UNID
                    },
                    function () {
                        grid.reload();
                    });
                }
            }
            ]
        });
    </script>
}
