
@{
    Layout = null;
    ViewBag.Title = "活动后台首页";
}



<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <title>活动后台 - @ViewBag.Title</title>
    @Styles.Render("~/Content/Admin")
</head>
<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <strong>活动后台</strong>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                @if (Session["LoginUser"] != null)
                {
                    <li><a href="javascript:;"><span>@(Session["LoginUser"] != null ? (Session["LoginUser"] as Domain.LoginUser)?.Name : "登入用户名")</span></a></li>
                    <li><a href="javascript:;" class="admin-clear-cache"><span class="am-icon-close"></span> <span>清除缓存</span></a></li>
                    <li><a href="/login/Quit" class="admin-quit"><span class="am-icon-sign-out"></span> <span>注销</span></a></li>
                }
            </ul>
        </div>
    </header>
    <div class="am-cf admin-main am-text-left">
        <!-- sidebar start -->
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <div>
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>请选择相对应入口</small></div>
                </div>

                @if (Session["LoginUser"] != null)
                {
                    if ((Session["LoginUser"] as Domain.LoginUser).IsChildren)
                    {
                        <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                            <li><a href="/dinner/dish" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br>微点餐门店管理员页面<br></a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                            <li><a href="/dinner/shop" class="am-text-warning"><span class="am-icon-btn am-icon-cutlery"></span><br>微点餐后台管理员<br></a></li>
                            <li><a href="/scratchcard/home" class="am-text-danger"><span class="am-icon-btn am-icon-scribd"></span><br>刮刮卡<br></a></li>
                            <li><a href="/userJoinCounter" class="am-text-secondary"><span class="am-icon-btn am-icon-dedent"></span><br>参与记录、兑奖<br></a></li>
                            <li><a href="/puzzle/admin" class="am-text-default"><span class="am-icon-btn am-icon-puzzle-piece"></span><br>拼图<br></a></li>
                        </ul>
                        <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                            <li><a href="/mall/goods" class="am-text-secondary"><span class="am-icon-btn am-icon-shopping-cart"></span><br>商城<br></a></li>
                        </ul>
                    }
                }
            </div>

        </div>
        <!-- content end -->
    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


    @Scripts.Render("~/Scripts/Admin")
    <script type="text/javascript">
        $(function () {
            $(".admin-clear-cache").click(function () {
                $.Nuoya.action("/home/ClearCache", function (json) {
                    $.Nuoya.alert("清除缓存成功");
                });
            });

            $(".admin-update-password").click(function () {

                $.Nuoya.ajaxDialog({
                    closeViaDimmer: false,
                    ajaxUrl: "/HtmlTemplates/Person/UpdatePassword.html",
                    title: "修改密码",
                    callback: function (e) {
                        $.Nuoya.form("form").validate({
                            rules: {
                                OldPassword: {
                                    required: true,
                                    maxlength: 15,
                                    minlength: 6
                                },
                                NewPassword: {
                                    required: true,
                                    maxlength: 15,
                                    minlength: 6
                                },
                                ConfirmPassword: {
                                    required: true,
                                    maxlength: 15,
                                    minlength: 6
                                }
                            },
                            messages: {
                                OldPassword: {
                                    required: "不允许为空",
                                    maxlength: "最多{0}个字符",
                                    minlength: "最小{0}个字符"
                                },
                                NewPassword: {
                                    required: "不允许为空",
                                    maxlength: "最多{0}个字符",
                                    minlength: "最小{0}个字符"
                                },
                                ConfirmPassword: {
                                    required: "不允许为空",
                                    maxlength: "最多{0}个字符",
                                    minlength: "最小{0}个字符"
                                }
                            }
                        });
                    },
                    buttons: [{
                        label: "保存",
                        callback: function (e) {

                            if (document.forms[0].NewPassword.value != document.forms[0].ConfirmPassword.value) {
                                $.Nuoya.alert("确认密码输入不一致");
                                return false;
                            }

                            $.Nuoya.form("form").ajaxSubmit({
                                ajaxUrl: "/home/updatepassword",
                                callback: function (data) {
                                    if (data.Result == "") {
                                        $.Nuoya.alert("密码修改成功");
                                    }
                                    else
                                        $.Nuoya.alert(data.Result);
                                }
                            });
                        }
                    }]
                })
            });
        });
    </script>
</body>
</html>
