
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Style/core.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Style/wall.css" media="all" />

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/wall/helper_min.js"></script>
    <script type="text/javascript" src="~/scripts/wall/main.js"></script>t
    <title>微信墙</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <!-- Mobile Devices Support begin -->
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Mobile Devices Support end -->
    <script type="text/javascript">
		  $("#tip_f11").delay(20000).animate({top:-60});
    </script>
</head>

<body onselectstart="return true;" ondragstart="return false;" style="background-image: url(http://www.0591wsd.com/wxplat/index/uploadfile/201604191524520452314684.jpg);">

    <div class="body">
        <!----header---->
        <div class="main_header">
            <div class="relative"><label id="tip_f11" class="tip tip_f11">全屏请按F11</label></div>
        </div>
        <!----header end---->
        <!----mainbody---->
        <div class="main_body">
            <div class="align_right pr_10 pt_10">
                <img src="http://www.0591wsd.com/wxplat/index/uploadfile/201604191524400440484715.jpg" />
            </div>
            <div class="box_menu">
                <ul class="clear">
                    <ol class="fl"><label></label></ol>
                    <li>
                        @*<a href="javascript:;" class="yy on" onclick="playMsc(this, event);">
                                <span></span>
                                <label>微信墙</label>
                            </a>*@
                        @*<script>
                            if(!-[1,]){
                                document.write('<embed id="msc" src="http://www.0591wsd.com/wxplat/public/front/business/wedding/yougetme.mp3" autostart="true" loop="true" hidden="true" />');
                            }else{
                                document.write('<audio id="msc" loop="true" hidden="true" autoplay="true"><source src="http://www.0591wsd.com/wxplat/public/front/business/wedding/yougetme.mp3" ></audio>');
                            }
                                    </script>*@
                    </li>
                    <li>
                        <a href="javascript:;" class="qp" onclick="fullScreen(event, this);">
                            <span></span>
                            <label>全屏</label>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="ewm" onclick="$('#qrcode').addClass('on');">
                            <span></span>
                            <label>二维码</label>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.0591wsd.com/wxplat/business/index.php/wall/race?id=88&uid=55&wechatid=fromUsername&token=TcMGLJ88Jjz4482WPCZP6V2pZu9M4LL8" class="yyy">
                            <span></span>
                            <label>摇一摇</label>
                        </a>
                    </li>

                    <li>
                        <a href="http://www.0591wsd.com/wxplat/business/index.php/wall/bigwheel?id=88&uid=55&wechatid=fromUsername&token=TcMGLJ88Jjz4482WPCZP6V2pZu9M4LL8" class="dzhp">
                            <span></span>
                            <label>大转盘</label>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.0591wsd.com/wxplat/business/index.php/wall/luck?id=88&uid=55&wechatid=fromUsername&token=TcMGLJ88Jjz4482WPCZP6V2pZu9M4LL8" class="cj">
                            <span></span>
                            <label>抽奖</label>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.0591wsd.com/wxplat/business/index.php/wall/photo?id=88&uid=55&wechatid=fromUsername&token=TcMGLJ88Jjz4482WPCZP6V2pZu9M4LL8" class="zp">
                            <span></span>
                            <label>照片</label>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.0591wsd.com/wxplat/business/index.php/wall/index?id=88&uid=55&wechatid=fromUsername&token=TcMGLJ88Jjz4482WPCZP6V2pZu9M4LL8" class="wxq">
                            <span></span>
                            <label>微信墙</label>
                        </a>
                    </li>

                </ul>
                <div id="qrcode" class="qrcode">
                    <header class="header">
                        <ul>
                            <li style="float:left;"><h5>二维码</h5></li>
                            <li style="float:right;">
                                <span class="close" onclick="$('#qrcode').removeClass('on');" style="padding-left:0;"></span>
                            </li>
                        </ul>
                        <div class="qbody">
                            <span><img src="http://www.0591wsd.com/wxplat/index/uploadfile/201604191524450445352935.jpg" /></span>
                        </div>
                    </header>
                </div>
            </div>
            <div class="align_center white"><a href="#" class="white"><a></div>
        </div>
    </div>
</body>
</html>
