<form id="form" class="am-form am-form-horizontal">


    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">预热标题<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-10">
            <input type="text" name="PreheatingTitle" />
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">预热图片<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-2">
            <input type="file" class="file" name="PreheatingImageFile" />
            <input type="hidden" name="PreheatingImage" />
        </div>
        <div class="am-u-sm-4" id="div_preheatingImage">
            <img style="height:200px;width:auto;float:left;" />
        </div>
        <div class="am-u-sm-2 am-u-end" style="text-align: left;">
            参考尺寸：700*300
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">预热描述</label>
        <div class="am-u-sm-10">
            <textarea name="PreheatingDescribe" rows="4"></textarea>
        </div>
    </div>


    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">进行时标题<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-10">
            <input type="text" name="OngoingTitle" />
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">进行时图片<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-2">
            <input type="file" class="file" name="OngoingImageFile" />
            <input type="hidden" name="OngoingImage" />
        </div>
        <div class="am-u-sm-4" id="div_ongoingImage">
            <img style="height:200px;width:auto;float:left;" />
        </div>
        <div class="am-u-sm-2 am-u-end" style="text-align: left;">
            参考尺寸：700*300
        </div>
    </div>

    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">进行时描述</label>
        <div class="am-u-sm-10">
            <textarea name="OngoingDescribe" rows="4"></textarea>
        </div>
    </div>

    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">结束标题<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-10">
            <input type="text" name="OverTitle" />
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">结束图片<strong class="am-text-danger am-text-sm">*</strong></label>
        <div class="am-u-sm-2">
            <input type="file" class="file" name="OverImageFile" />
            <input type="hidden" name="OverImage" />
        </div>
        <div class="am-u-sm-4" id="div_overImage">
            <img style="height:200px;width:auto;float:left;" />
        </div>
        <div class="am-u-sm-2 am-u-end" style="text-align: left;">
            参考尺寸：700*300
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">结束描述</label>
        <div class="am-u-sm-10">
            <textarea name="OverDescribe" rows="4"></textarea>
        </div>
    </div>

</form>
